* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    color: var(--Wei, #FFF);
    font-family: "Chronicle Display";
    font-size: clamp(38px, 1.7500000000rem + 3.1250000000vw, 88px);
    font-style: normal;
    font-weight: 600;
    line-height: 113.636%;
    text-transform: capitalize;
}

h2 {
    color: #FFF;
    font-family: "Chronicle Display";
    font-size: clamp(36px, 1.9000000000rem + 1.7500000000vw, 64px);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* logo ///// */
h3,
.logo {
    color: var(--Wei, #FFF);
    font-family: "Chronicle Display";
    font-size: clamp(24px, 1.4000000000rem + 0.5000000000vw, 32px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    text-transform: capitalize;
}

h4 {
    color: var(--Accent, #FBD784);
    font-family: Gilroy;
    font-size: clamp(20px, 1.2000000000rem + 0.2500000000vw, 24px);
    font-style: normal;
    font-weight: 700;
    line-height: 133.333%;
}

h5 {
    color: var(--Accent, #FBD784);
    font-family: Gilroy;
    font-size: clamp(16px, 0.9750000000rem + 0.1250000000vw, 18px);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 6px;
    text-transform: uppercase;
}

h6 {
    color: var(--Accent, #FBD784);
    font-family: Gilroy;
    font-size: clamp(16px, 0.9750000000rem + 0.1250000000vw, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


body {
    width: clamp(320px, 100%, 1920px);
    margin: auto;
    background-color: hsla(200, 54%, 10%, 1);

    color: #FFF;
    font-family: Gilroy;
    font-size: clamp(16px, 0.9750000000rem + 0.1250000000vw, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: 177.778%;
}


a {
    text-decoration: none;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

img {
    vertical-align: middle;
}

/* header-back ///////////////////////////////////////////////// */
.header-back {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1001;

}

.header-back img {
    width: 100%;
}

.linear {
    height: 20%;
    background: linear-gradient(180deg, rgba(11, 29, 38, 0.00) 0%, #0B1D26 61.38%);
    position: absolute;
    inset: auto 0 0;
}


/* section navbar ///////////////////////// */

.navbar {
    padding: clamp(20px, 0.7750000000rem + 2.3750000000vw, 58px) clamp(15px, 0.1250000000rem + 4.0625000000vw, 80px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}


.navbar-brand img {
    width: clamp(40px, 1.9642857143rem + 2.6785714286vw, 70px);
}


.navbar-nav {
    text-align: center;
}


.nav a {
    color: #FFF;
    font-family: Gilroy;
    font-size: clamp(16px, 0.9750000000rem + 0.1250000000vw, 18px);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 8px 16px;
    border-radius: 5px;
}

.nav a:hover {
    background: hsla(200, 54%, 25%, 1);
}


.burger {
    display: none;
    width: 24px;
}

.nav-wrapper {
    width: 450px;
}

.nav-wrapper.show .navbar-nav {
    display: flex;
    flex-direction: column;
    width: auto;
    background: hsla(200, 54%, 20%, 1);
    opacity: .98;
    padding: 20px 0;
}

.nav-wrapper.show {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
}


.nav-wrapper.show .navbar-nav a {
    width: 100%;
}

.account {
    display: flex;
    gap: 10px;
    align-items: center;
}

.account img {
    cursor: pointer;
}

.account__text {
    cursor: pointer;
}


/* header //////////////////////////// */

header {
    max-width: 1115px;
    margin: clamp(70px, 2.7500000000rem + 8.1250000000vw, 200px) auto;
    padding: clamp(15px, -0.9742647059rem + 9.5588235294vw, 80px);
}


.line {
    width: clamp(55px, 3.2250000000rem + 1.0625000000vw, 72px);
    height: 2px;
    background: var(--Accent, #FBD784);
}

.title {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}


/* main ///////////////////// */

main {
    margin: 900px clamp(15px, -1.7500000000rem + 13.4375000000vw, 230px) clamp(40px, 1.5000000000rem + 5.0000000000vw, 120px);
}

/* section ///////////////////// */
section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.section__content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 27px;
    max-width: 632px;
    flex-grow: 1;
    flex-basis: 300px;
}

.section__img {
    background-image: url(img/01.jpg);
    background-size: cover;
    background-position: bottom;
    max-width: 566px;
    flex-grow: 1;
    flex-basis: 300px;
    height: clamp(368px, 18.6000000000rem + 22.0000000000vw, 720px);
}



/* media ////////////////// */

@media (max-width: 568px) {

    .burger {
        display: block;
        margin-left: auto;
    }

    .navbar-nav {
        display: none;
    }

    .nav-wrapper {
        width: 0;
        transition: width 1.5s;
    }

    .account__text {
        display: none;
    }

    .account {
        gap: 20px;
    }

    .nav {
        display: flex;
        flex-direction: column;
    }

}